section {
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div {
    box-sizing: content-box;
    background-color: aqua;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}