/* *{
    color: white;
    background-color: blueviolet;
} */
/* we can use , to use multiple selectors */

body {
  background-color: #f1faee;
}

/* h1,
h2 {
  color: #1d3557;
} */

button {
  background-color: #a8dadc;
}

#signup {
  background-color: #1d3557;
  color: #a8dadc;
  font-size: 20px;
  font-weight: bold;
}

span {
  color: #1d3557;
}

.tag {
  color: white;
  background-color: tomato;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2 {
  color: #1d3557;
}

.post a {
  color: #1d3557;
}

footer {
  background-color: black;
  text-align: end;
  font-size: 20px;
  word-spacing: 15px;
  padding-right: 25px;
  height: 30px;
  padding-top: 5px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h2 + button {
  background-color: yellow;
  font-size: 12px;
}

div {
  margin: auto;
  /* background-color: #e63946; */
  width: 200px;
  border: 5px solid tomato;
  padding: 10px;
  text-align: center;
}

div > a {
  color: tomato;
  /* text-transform: lowercase; */
  font-size: 12px;
  font-weight: bold;
}

input[type="password"] {
  color: #1d3557;
}

.post {
  background-color: aqua;
  margin: 20px;
  text-align: center;
  box-shadow: blue;
}
