/* *{
    color: white;
    background-color: blueviolet;
} */
/* we can use , to use multiple selectors */

body {
  background-color: #f1faee;
}

/* h1,
h2 {
  color: #1d3557;
} */

button {
  background-color: #a8dadc;
}

#signup {
  background-color: #1d3557;
  color: #a8dadc;
  font-size: 20px;
  font-weight: bold;
}

span {
  color: #1d3557;
}

.tag {
  color: white;
  background-color: tomato;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
h2 {
  color: #1d3557;
}

.post a {
  color: #1d3557;
}

footer a {
  color: #e63946;
}

h2 + button {
  background-color: yellow;
  font-size: 12px;
}

div {
  margin: auto;
  /* width: 50%; */
  border: 10px tomato;
  padding: 10px;
  text-align: center;
}

div > a {
  color: #a8dadc;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;
}
