#google {
    margin: auto;
    width: 200px;
    border: 5px solid tomato;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin-top: 25px;
    transition: 0.5s ease-in-out;
}

#google:hover {
    border-color: white;
}

div>a {
    color: tomato;
    /* text-transform: lowercase; */
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    text-align: end;
    transition: 0.5s ease-in-out;
}

div>a:hover {
    color: white;
}

body {
    background-color: #1f1b29;
}

h2 {
    text-align: center;
    color: white;
}

h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
}

h1:nth-last-of-type(2n) {
    background-color: #e9c46a;
}

h1:nth-last-of-type(3n) {
    background-color: teal;
}

h1:nth-last-of-type(4n) {
    background-color: tomato;
}


/* ROTATE */

section:first-of-type h1:nth-last-of-type(1) {
    transform: rotatez(180deg);
    transition: 0.5s ease-in-out;
    transform-origin: inherit;
}

section:first-of-type h1:nth-last-of-type(1):hover {
    transform: none;
    border-color: #e9c46a;
}


/* SCALE */

section:first-of-type h1:nth-last-of-type(2) {
    transition: 0.5s ease-in-out;
}

section:first-of-type h1:nth-last-of-type(2):hover {
    transform: none;
    border-color: #e9c46a;
    transform: scale(1.1);
    transform-origin: inherit;
}


/* TRANSLATE */

section:first-of-type h1:nth-last-of-type(3) {
    transition: 0.5s ease-in-out;
}

section:first-of-type h1:nth-last-of-type(3):hover {
    transform: none;
    border-color: #e9c46a;
    transform: translatex(150px);
    transform-origin: inherit;
}


/* SKEW */

section:first-of-type h1:nth-last-of-type(4) {
    transition: 0.5s ease-in-out;
}

section:first-of-type h1:nth-last-of-type(4):hover {
    transform: none;
    border-color: #e9c46a;
    transform: skew(20deg);
    transform-origin: inherit;
}


/* BUTTON ANIMATION */

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* todo height: 100vh; - this will make the element to appear dead center of the screen  */
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.1s ease-in;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translatey(-0.1em);
    cursor: pointer;
}

section #background {
    width: 80%;
    height: 800%;
    margin: 0 auto;
    background-color: #eae2b7;
    /* background-image: url(https://img.freepik.com/free-vector/colorful-palm-silhouettes-background_23-2148541792.jpg?size=626&ext=jpg); */
    background-image: url(https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right 35% bottom 45%;
    /* background-attachment: local; */
}

#background {
    font-size: 100px;
    color: white;
}

h2 {
    font-family: "Raleway", sans-serif;
}