body {
    margin-left: 4%;
}

img {
    width: 30%;
    /* margin: calc(10%/6); - calculations in css */
    margin: 1%;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 30%;
    padding: 0.8em 0;
    font-family: Raleway, sans-serif;
    font-size: 2em;
}